<table>
    <thead>
      <tr>
          <th>Логин</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>E-mail</th>
          <th>Дата последней активности</th>
          <th>Активен</th>
          <th>Опции</th>
      </tr>
    </thead>
{% for user in users %}
    <tr>
        <td id="user_{{ user.id }}_login">{{ user.username }}</td>
        <td id="user_{{ user.id }}_fname">{{ user.first_name }}</td>
        <td id="user_{{ user.id }}_lname">{{ user.last_name }}</td>
        <td id="user_{{ user.id }}_mail">{{ user.email }}</td>
        <td>{{ user.last_login }}</td>
        <td>
            {% if user.id != 1 %}
                <div class="cl_radio_btns">
                    <input type="radio" id="find_radio1_{{ user.id }}" onchange="obj_switch_status( 'user', {{ user.id }}, 1 )" name="find_radio_{{ user.id }}" {% if user.is_active %} checked {% endif %}>
                        <label for="find_radio1_{{ user.id }}">Вкл.</label>
                    <input type="radio" id="find_radio0_{{ user.id }}" onchange="obj_switch_status( 'user', {{ user.id }}, 0 )" name="find_radio_{{ user.id }}" {% if not user.is_active %} checked {% endif %}>
                        <label for="find_radio0_{{ user.id }}">Выкл.</label>
                </div>
            {% endif %}
        </td>
        <td>
            <ul id="icons" class="ui-widget ui-helper-clearfix">
                <li title="Редактировать пользователя" onclick="show_add_edit_user_dialog({{ user.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-wrench"></span></li>
            </ul>
        </td>
    </tr>
{% endfor %}
</table>
<p>