{% extends 'main.html' %}
{% load i18n %}
{% block users %}
<center><h4>Пользователи</h4></center>
<p>
<div class="row">
    <div class="large-12 columns">
        <input onkeyup="find_user()" placeholder="Поиск пользователя по фамилии" id="find_user_input_id" type="text" />
    </div>
</div>
<div id="find_user_render"></div>

<div id="users_content">
    {% include 'users_only_table.html' %}
</div>
<p>
<p>
    <input type="button" class="button tiny" value="Добавить пользователя" onclick="show_add_edit_user_dialog();"/>

	<div id="dialog_edit_users" title="Добавить/редактировать пользователя">
                <p><label for="add_edit_user_login">Логин</label>      <input id="add_edit_user_login" maxlength="20" name="login" type="text" onkeyup="check_unique_login();" />
                    <div id="check_login_out"></div>
                <p>
                <p><label for="add_edit_user_fname">Имя</label>        <input id="add_edit_user_fname" maxlength="30" name="fname" type="text" /></p>
                <p><label for="add_edit_user_lname">Фамилия</label>    <input id="add_edit_user_lname" maxlength="30" name="lname" type="text" /></p>
                <p><label for="add_edit_user_mail">E-mail</label>      <input id="add_edit_user_mail" maxlength="30" name="mail" type="text" /></p>
                <p><label for="add_edit_user_pass">Пароль</label>      <input id="add_edit_user_pass" maxlength="30" name="pass" type="password" /></p>
                <p><input id="is_new" name="is_new_option" hidden="true" value="yes"/></p>
	</div>

<div class="small-3 large-centered columns">
<ul class="pagination">
  {% if users.has_previous %}
    <li class="arrow"><a href="?page=1">1</a></li>
    <li class="arrow"><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
  {% endif %}
  <li>{% trans "Page" %} {{ users.number }} {% trans "in" %} {{ users.paginator.num_pages }}</li>
  {% if users.has_next %}
    <li class="arrow"><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
  {% endif %}
</ul>
</div>
{% endblock %}