{% extends "main.html" %}

{% block login %}
<div class="small-3 large-centered columns" style="border: 2px solid #aaa; padding-top: 15px;">
  <form action='/auth/login/' method='post'>
    {% csrf_token %}
    <label for="username">Логин</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Пароль</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" class="button tiny" value="Вход" />
  </form>
</div>

{% if login_error %}
    <div class="small-3 large-centered columns" style="padding-top: 15px;">
          <label class="error">{{ login_error }}</label>
    </div>
{% endif %}

{% endblock %}