{% extends "main.html" %}
{% load i18n %}

{% block login %}
<div class="panel small-3 large-centered columns" style="padding-top: 15px;">
    <form action='/auth/login/' method='post'>
        {% csrf_token %}
        <label for="username">{% trans "Name" %}</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">{% trans "Password" %}</label>
        <input type="password" name="password" value="" id="password">
        <input type="submit" class="button tiny" value="{% trans "Login" %}" />

        <form action='/i18n/setlang/' method='post'>
            <input id="switch_ru" onclick="set_ru()" type="button" class="button tiny" value="{% trans "ru" %}" />
            <input id="switch_en" onclick="set_en()" type="button" class="button tiny" value="{% trans "en" %}" />
        </form>

    </form>
</div>

{% if login_error %}
    <div class="small-3 large-centered columns" style="padding-top: 15px;">
          <label class="error">{{ login_error }}</label>
    </div>
{% endif %}

{% endblock %}