{% extends "main-login.html" %}
{% load i18n %}

{% block login %}
<div class="panel small-3 large-centered columns" style="padding-top: 15px;">
    <form action='/auth/login/' method='post'>
        {% csrf_token %}
        <label for="username">{% trans "Name" %}</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">{% trans "Password" %}</label>
        <input type="password" name="password" value="" id="password">
        <input type="submit" class="button tiny" value="{% trans "Enter" %}" style="margin: 0" />
        </form>
</div>

{% if login_error %}
    <div class="small-3 large-centered columns" style="padding-top: 15px;">
          <label class="error">{{ login_error }}</label>
    </div>
{% endif %}

{% endblock %}