{% extends 'main.html' %}
{% block clients %}
<center><h4>Клиенты</h4></center>
<div id="clients_content">
{% include 'clients_only_table.html' %}
</div>
<p>
<p>
    <input type="button" class="button tiny" value="Добавить клиента" onclick="show_add_edit_client_dialog();"/>

	<div id="dialog_edit_client" title="Добавить/редактировать клиента">
                <p><label for="add_edit_client_sname">Краткое наименование</label>  <input id="add_edit_client_sname" maxlength="100" name="sname" type="text" />
                <p><label for="add_edit_client_fname">Полное наименование</label>   <input id="add_edit_client_fname" maxlength="200" name="fname" type="text" /></p>
                <p><label for="add_edit_client_address">Адрес</label>               <input id="add_edit_client_address" maxlength="100" name="fname" type="text" /></p>
                <p><label for="add_edit_client_inn">ИНН</label>                     <input id="add_edit_client_inn" maxlength="30" name="inn" type="text" /></p>
                <p><label for="add_edit_client_phone">Контактное лицо, телефон</label>               <input id="add_edit_client_phone" maxlength="30" name="phone" type="text" /></p>
                <p><label for="add_edit_client_mail">E-mail</label>                 <input id="add_edit_client_mail" maxlength="30" name="mail" type="text" /></p>
                <p><label for="add_edit_client_priority">Приоритет</label>          <input id="add_edit_client_priority" maxlength="30" name="mail" type="text" /></p>
	</div>

<div class="small-3 large-centered columns">
<ul class="pagination">
  {% if clients.has_previous %}
    <li class="arrow"><a href="?page={{ clients.previous_page_number }}">&laquo;</a></li>
  {% endif %}
  <li>Страница {{ clients.number }} из {{ clients.paginator.num_pages }}</li>
  {% if clients.has_next %}
    <li class="arrow"><a href="?page={{ clients.next_page_number }}">&raquo;</a></li>
  {% endif %}
</ul>
</div>
{% endblock %}