{% load i18n %}
<table bordercolor="red" border="1" width="100%">
    <thead>
      <tr>
          <th>{% trans "Short name" %}</th>
          <th>{% trans "Organization index" %}</th>
          <th>{% trans "Phone number" %}</th>
          <th>{% trans "Priority" %}</th>
          <th>{% trans "Enabled" %}</th>
          <th>{% trans "Options" %}</th>
      </tr>
    </thead>
{% for client in clients %}
    {% if not client.is_deleted %}
        <tr>
            <td>{{ client.sname }}</td>
            <td>{{ client.inn }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.priority }}</td>
            <td>
                <div class="cl_radio_btns">
                    <input type="radio" id="{{ type }}_radio1_{{ client.id }}" onchange='obj_switch_status( "client", {{ client.id }}, 1 )' name="{{ type }}_radio_{{ client.id }}" {% if client.is_active %} checked {% endif %}>
                        <label for="{{ type }}_radio1_{{ client.id }}">{% trans "Yes" %}</label>
                    <input type="radio" id="{{ type }}_radio0_{{ client.id }}" onchange='obj_switch_status( "client", {{ client.id }}, 0 )' name="{{ type }}_radio_{{ client.id }}" {% if not client.is_active %} checked {% endif %}>
                        <label for="{{ type }}_radio0_{{ client.id }}">{% trans "No" %}</label>
                </div>
            </td>
            <td>
                <ul id="icons" class="ui-widget ui-helper-clearfix">
                    <li title="{% trans "Remove" %}" onclick="rem_client({{ client.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-closethick"></span></li>
                    <li title="{% trans "Edit" %}" onclick="show_add_edit_client_dialog({{ client.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-wrench"></span></li>
                </ul>
            </td>
        </tr>
    {% endif %}
{% endfor %}
</table>

{% if type == "main" %}
<small>{% trans "Record's count" %}: {{ clients_count }}</small>
{% endif %}