<table>
    <thead>
      <tr>
          <th>Краткое название</th>
          <th>ИНН</th>
          <th>Номер телефона</th>
          <th>Приоритет</th>
          <th>Обслуживается</th>
          <th>Опции</th>
      </tr>
    </thead>
{% for client in clients %}
    {% if not client.is_deleted %}
        <tr>
            <td>{{ client.sname }}</td>
            <td>{{ client.inn }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.priority }}</td>
            <td>
                <div class="cl_radio_btns">
                    <input type="radio" id="radio1_{{ client.id }}" onchange='obj_switch_status( "client", {{ client.id }}, 1 )' name="radio_{{ client.id }}" {% if client.is_active %} checked {% endif %}>
                        <label for="radio1_{{ client.id }}">Вкл.</label>
                    <input type="radio" id="radio0_{{ client.id }}" onchange='obj_switch_status( "client", {{ client.id }}, 0 )' name="radio_{{ client.id }}" {% if not client.is_active %} checked {% endif %}>
                        <label for="radio0_{{ client.id }}">Выкл.</label>
                </div>
            </td>
            <td>
                <ul id="icons" class="ui-widget ui-helper-clearfix">
                    <li title="Удалить" onclick="rem_client({{ client.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-closethick"></span></li>
                    <li title="Править" onclick="show_add_edit_client_dialog({{ client.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-wrench"></span></li>
                </ul>
            </td>
        </tr>
    {% endif %}
{% endfor %}
</table>
<small>Количество записей: {{ clients_count }}</small>