{% extends 'main.html' %}
{% block help-page %}


<center><h4>Информация о проекте</h4></center>


<p><strong>Информация о проекте</strong></p>
<p align="justify" style="text-indent: 25px;">
    CRM, CRM-система, сокращение от англ. Customer Relationship Management - система предназначенная для управления
    взаимоотношениями с клиентами.
</p>
<p align="justify" style="text-indent: 25px;">
    R-CRM представляет из себя  прикладное программное обеспечение для организаций, предназначенное для автоматизации
    стратегий взаимодействия с заказчиками (клиентами), в частности, для повышения уровня продаж, оптимизации маркетинга
    и улучшения обслуживания клиентов путём сохранения информации о клиентах и истории взаимоотношений с ними,
    установления и улучшения бизнес-процессов и последующего анализа результатов.
</p>
<p align="justify" style="text-indent: 25px;">
    R-CRM предполагается как система предназначенная для управления клиентским обслуживанием и колл-центрами
    (система по обработке обращений абонентов, фиксации и дальнейшей работе с обращениями клиентов). Классификация по
    уровню обработки информации: операционный CRM (регистрация и оперативный доступ к первичной информации по событиям,
    компаниям, проектам, контактам); аналитический CRM (отчётность и анализ информации в различных разрезах (воронка
    продаж, анализ результатов маркетинговых мероприятий, анализ эффективности продаж в разрезе продуктов, сегментов
    клиентов, регионов и другие возможные варианты)).
</p>


<p><strong>R-CRM имеет следующие разделы</strong></p>
<p align="justify" style="text-indent: 25px;">
    <lu>
        <li>Задания (тикеты)</li>
        <li>Пользователи (раздел управления пользователями)</li>
        <li>Клиенты (раздел управления клиентами)</li>
        <li>Статистика (раздел статистики)</li>
    </lu>
</p>


<p><strong>Проекты, используемые в R-CRM</strong></p>
    <ol>
        <li>Python (High-level programming language)</li>
        <li>Django (Web Framework)</li>
        <li>PostgreSQL (DataBase)</li>
        <li>SQlite3 (DataBase)</li>
        <li>Foundation (CSS, JS Framework)</li>
        <li>JQuery and JQuery-UI (CSS, JS Framework)</li>
    </ol>


<p><strong>Зависимости</strong><br></p>
            R-CRM использует интерпритатор python версии 3 и Django версии 1.8.4.


<p><strong>Инструкция по развёртыванию</strong><br></p>
    <ol>
        <li>
            Необходимо выбрать и, при необходимости, подготовить СУБД. Настройки СУБД находятся в файле <b>rcrm_django/settings.py</b>,
            в разделе <b>"DATABASES"</b>. По умолчанию выбрана SQLite СУБД. После выбора СУБД, создаём структуру СУБД командой
            <b>python3 manage.py migrate</b>.
            <br>*Примечание: выполнять команды нужно в корневой директории проекта, там где находиться файл <b>manage.py</b>!
        </li>
        <li>
            Далее необходимо заполнить созданную базу, необходимыми для нормальной работы программы, данными - справочниками,
            информацией о статусах и т.д. <b>python3 manage.py loaddata crm/fixtures/initial-priority.json</b>.
        </li>
        <li>
            Создаём cуперпользователя <b>python3 manage.py createsuperuser</b>, скрипт запросит логин и пароль cуперпользователя, так же
            можно задать адрес электронной почты. Учётная запись суперпользователя - учётная запись с максимально возможными
            привилегиями в системе, держите пароль от неё в тайне.
        </li>
        <li>
            Для тестового использования Вы можете воспользоваться интегрированным с Django веб-сервером для разработки - просто
            выполните команду <b>python3 manage.py runserver 8000</b> (8000 - номер порта, на котором будет запущен сервер)
            и откройте браузер по адресу <b><a href="http://localhost:8000">http://localhost:8000</a></b>.
            <br>*Примечание: не используйте данный способ на боевом сервере! Для боевого сервера можете использовать
            связку <i>nginx + uwsgi</i>, например.
        </li>
        <li>
            RCRM готова к работе!
        </li>
    </ol>


<p><strong>Справка</strong></p>
<p align="justify" style="text-indent: 25px;">
    Автор Заречнев Руслан. Вопросы и предложеия вы можете присылать по адресу
    <a href="mailto:zarechnev.r@yandex.ru?subject=r-crm">zarechnev.r@yandex.ru</a>.
    R-CRM распространяется под лицензией GNU GPL v2. Все программные продукты используемые в
    R-CRM или обеспечивающие её работу могут распространятся под иной, отличной от GNU GPL v2, лицензией.
</p>

{% endblock %}