{% extends 'main.html' %}
{% block main-page %}
<center><h4>Справка</h4></center>

<p><strong>Справка о проекте</strong></p>

<p align="justify" style="text-indent: 25px;">
    R-CRM имеет следующие разделы
    <lu>
        <li>Задания (тикеты)</li>
        <li>Пользователи (раздел управления пользователями)</li>
        <li>Клиенты (раздел управления клиентами)</li>
        <li>Статистика (раздел статистики)</li>
    </lu>
</p>

<p align="justify" style="text-indent: 25px;">
    Для начала работы вам неободимо ввсети логин и пароль.
</p>
{% endblock %}