{% extends 'main.html' %}
{% block crm %}
<style type="text/css">
div.inline { float:left; }
.clearBoth { clear:both; }
.margin-left-right   { margin-left: 10%; margin-right: 2%; }
</style>
<script>
      $(function() $( ".invisible_close_rbtns" ).buttonset() )
</script>
<center><h4>Задания</h4></center>

    <div class="inline margin-left-right">Отображать только открытые</div>
    <div class="invisible_close_rbtns inline">
        <input type="radio" id="show_closed_rb0" name="show_closed_rb" onchange="set_cookie_hide_deleted_tasks( 0 )" {% if not hide_deleted_tasks %} checked {% endif %}>
            <label for="show_closed_rb0">все</label>
        <input type="radio" id="show_closed_rb1" name="show_closed_rb" onchange="set_cookie_hide_deleted_tasks( 1 )" {% if hide_deleted_tasks %} checked {% endif %}>
            <label for="show_closed_rb1">открытые</label>
    </div>

    <div class="inline margin-left-right">Отображать только мои</div>
    <div class="invisible_close_rbtns">
        <input type="radio" id="show_my_rb0" name="show_my_rb" onchange="set_cookie_my_tasks( 0 )" {% if not only_my_tasks %} checked {% endif %}>
            <label for="show_my_rb0">все</label>
        <input type="radio" id="show_my_rb1" name="show_my_rb" onchange="set_cookie_my_tasks( 1 )" {% if only_my_tasks %} checked {% endif %}>
            <label for="show_my_rb1">мои</label>
    </div>

<br>

<div id="crm_content">
    {% include 'crm_only_table.html' %}
</div>

<script>
    $(document).ready(function(){
        setInterval('show_crm("/crm/?page={{ tasks.number }}")',TimeInt_for_CRM);
    });

    $(document).ready(function () {
        $("#id_inn").autocomplete({
                source: "/crm/auto_complite_inn",
        });
    });
</script>

<div style="border: 2px solid #aaa; padding: 10px;">
    <form method="post" id="create_task">
        <div class="row">
            <div class="large-3 columns">
                <input placeholder="Введите ИНН" id="id_inn" maxlength="20" name="inn" type="text" />
            </div>
            <div class="large-9 columns">
                <input placeholder="Введите комментарий" id="id_comment" maxlength="50" name="comment" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="large-2 columns">
                <input type="button" class="button tiny" value="Создать" onclick="add_task('create_task');"/>
            </div>
            <div class="large-1 columns">
                Приоритет
            </div>
            <div class="large-3 columns">
                <select name="priority">
                        {% for status in statuses %}
                            <option {% if status.default %} selected="selected" {% endif %}>{{ status.priority_ru }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="large-6 columns">
                <input placeholder="Введите фамилию исполнителя" id="id_solves_user" maxlength="20" name="solves_user" type="text" />
            </div>
        </div>
    </form>
</div>

</div>
{% endblock %}