{% extends 'main.html' %}
{% block crm %}
<script>
    $(function() $( ".invisible_close_rbtns" ).buttonset() )


    $(document).ready(function(){
        setInterval('show_crm("/crm/?page={{ tasks.number }}")',TimeInt_for_CRM);
    });


    $(document).ready(function () {
        $("#id_inn").autocomplete({
                source: "/crm/auto_complite_inn",
        });
    });


    $(document).ready(function () {
        $("#id_find_by_inn").autocomplete({
                source: "/crm/auto_complite_inn",
        });
    });
</script>
<center><h4>Задания</h4></center>

<!--Top menu-->
<div class="row" style="padding: 10px; margin: 5px;">

    <!--Closed task is view or not-->
    <div class="large-3 columns">
        <div class="invisible_close_rbtns inline">
            <input type="radio" id="show_closed_rb0" name="show_closed_rb" onchange="set_cookie_hide_deleted_tasks( 0 )" {% if not hide_deleted_tasks %} checked {% endif %}>
                <label for="show_closed_rb0">все</label>
            <input type="radio" id="show_closed_rb1" name="show_closed_rb" onchange="set_cookie_hide_deleted_tasks( 1 )" {% if hide_deleted_tasks %} checked {% endif %}>
                <label for="show_closed_rb1">открытые</label>
        </div>
    </div>


    <!--My or all task-->
    <div class="large-2 columns">
        <div class="invisible_close_rbtns">
            <input type="radio" id="show_my_rb0" name="show_my_rb" onchange="set_cookie_my_tasks( 0 )" {% if not only_my_tasks %} checked {% endif %}>
                <label for="show_my_rb0">все</label>
            <input type="radio" id="show_my_rb1" name="show_my_rb" onchange="set_cookie_my_tasks( 1 )" {% if only_my_tasks %} checked {% endif %}>
                <label for="show_my_rb1">мои</label>
        </div>
    </div>


    <!--Find by inn (5 last)-->
    <div class="large-5 columns">
        <div class="row collapse">
            <!--Find text-->
            <div class="large-8 columns">
                <input placeholder="Поиск по ИНН" id="id_find_by_inn" maxlength="100" name="find_by_inn" type="text" />
            </div>
            <!--Clear button-->
            <div class="large-1 columns">
                <input type="button" class="button postfix secondary" onclick="clear_find_by_inn()" />
            </div>
            <!--Find button-->
            <div class="large-3 columns">
                <input type="button" class="button postfix" value="Найти" onclick="find_task_by_inn()" />
            </div>
        </div>
    </div>


    <!--More filters-->
    <div class="large-2 columns">
        <!--Другие фильтры-->
    </div>

</div>


<div id="crm_find_content">
</div>


<div id="crm_content">
    {% include 'crm_only_table.html' %}
</div>


    <form method="post" id="create_task">

        <div class="row panel" style="padding: 10px; margin: 5px;">

                <!-- Top -->
                <div class="row">

                    <!--INN-->
                    <div class="large-3 columns">
                        <input placeholder="Введите ИНН" id="id_inn" maxlength="20" name="inn" type="text" />
                    </div>

                    <!--Comment-->
                    <div class="large-9 columns">
                        <input placeholder="Введите комментарий" id="id_comment" maxlength="200" name="comment" type="text" />
                    </div>
                </div>


                <!-- Bottom -->
                <div class="row">

                    <!--Create button-->
                    <div class="large-3 columns">
                        <input type="button" class="button tiny" value="Создать" onclick="add_task('create_task');"/>
                    </div>

                    <!--Priority list-->
                    <div class="large-4 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-5 columns">
                                <span class="prefix">Приоритет</span>
                            </div>
                            <div class="small-7 columns">
                                <select name="priority">
                                    {% for status in statuses %}
                                        <option {% if status.default %} selected="selected" {% endif %}>{{ status.priority_ru }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- -->
                    <div class="large-5 columns">
                        <input placeholder="Введите фамилию исполнителя" id="id_solves_user" maxlength="20" name="solves_user" type="text" />
                    </div>
                </div>

            </div>

        </div>
    </form>
{% endblock %}