{% load i18n %}
{% load verbose_names %}
{% load task_background_color %}


{% for task in tasks %}
<p>
           <div class="row panel" style="padding: 10px; margin: 5px; background: #cccccc; border: 1px solid #888888;">

                <!-- 1 line -->
                    <div class="row">

                            <!--N-->
                            <div class="large-1 columns" style="background: {% gen_task_background_color task.id %}; border: 2px solid #888888;">
                                #: {{ task.id }}
                            </div>

                            <!--date-->
                            <div class="large-5 columns">
                                <div class="with_popup" data-title="{{ task.create_date }}">
                                    {% get_verbose_field_name task_obj "create_date" %}: <b>{{ task.create_date|date:'d M H:i' }}</b>
                                </div>
                            </div>

                            <!--author-->
                            <div class="large-4 columns">
                                <div class="with_popup" data-title="{{ task.create_user.last_name }} {{ task.create_user.first_name }}">
                                    {% get_verbose_field_name task_obj "create_user" %}: <b>{{ task.create_user.last_name }} {{ task.create_user.first_name|make_list|first }}.</b>
                                </div>
                            </div>

                            <!--Options-->
                            <div class="large-2 columns">
                                <ul id="icons" class="ui-widget ui-helper-clearfix">
                                    {% if not task.is_removed %}
                                        <li title="{% trans "Remove task" %}" onclick="Tasks.remove({{ task.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-trash"></span></li>
                                    {% endif %}
                                    {% if task.is_removed %}
                                        <li title="{% trans "Restore task" %}" onclick="Tasks.restore({{ task.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plusthick"></span></li>
                                    {% endif %}
                                    <li title="{% trans "Edit task" %}" onclick="Tasks.edit({{ task.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-wrench"></span></li>
                                    <li title="{% trans "Transfer task" %}" onclick="Tasks.transfer_to({{ task.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-arrowthick-1-e"></span></li>
                                    <li title="{% trans "Change priority" %}" onclick="Tasks.sw_prio({{ task.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-arrowthick-2-e"></span></li>
                                </ul>
                            </div>

                    </div>

                <!-- 2 line -->
                    <div class="row">

                            <!--Status-->
                            <div class="large-3 columns">

                                    <div class="crm_radio_btns">
                                        <input type="radio" id="{{ type }}_radio0_{{ task.id }}" onchange='obj_switch_status( "task", {{ task.id }}, "NEW" )' name="{{ type }}_radio_{{ task.id }}" {% if task.status = "NEW" %} checked {% endif %}>
                                            <label for="{{ type }}_radio0_{{ task.id }}">Новая</label>
                                        <input type="radio" id="{{ type }}_radio1_{{ task.id }}" onchange='obj_switch_status( "task", {{ task.id }}, "PRG" )' name="{{ type }}_radio_{{ task.id }}" {% if task.status = "PRG" %} checked {% endif %}>
                                            <label for="{{ type }}_radio1_{{ task.id }}">Работа</label>
                                        <input type="radio" id="{{ type }}_radio2_{{ task.id }}" onchange='obj_switch_status( "task", {{ task.id }}, "SLD" )' name="{{ type }}_radio_{{ task.id }}" {% if task.status = "SLD" %} checked {% endif %}>
                                            <label for="{{ type }}_radio2_{{ task.id }}">Закрыта</label>
                                    </div>

                            </div>

                            <!--Client-->
                            <div class="large-4 columns">
                                {% get_verbose_field_name task_obj "client" %}: <b>{{ task.client.sname }}</b>
                            </div>

                            <!--Client contact, phone-->
                            <div class="large-5 columns">
                                {% trans "Contact" %}: <b>{{ task.client.phone }}</b>
                            </div>

                    </div>


                <!-- 3 line -->
                    <div class="row">

                            <!--Engineer -->
                            <div class="large-4 columns">
                                {% get_verbose_field_name task_obj "solves_user" %}:
                                {% if task.solves_user %}
                                        {{ task.solves_user.last_name }} {{ task.solves_user.first_name }}
                                {% else %}
                                    ---
                                {% endif %}
                            </div>

                            <!--Pick date -->
                            <div class="large-4 columns">
                                {% get_verbose_field_name task_obj "pick_date" %}:
                                {% if task.pick_date %}
                                     {{ task.pick_date }}
                                {% else %}
                                    ---
                                {% endif %}
                            </div>

                            <!--Solve date -->
                            <div class="large-4 columns">
                                {% get_verbose_field_name task_obj "closed_date" %}:
                                {% if task.pick_date %}
                                    {{ task.closed_date }}
                                {% else %}
                                    ---
                                {% endif %}
                            </div>

                    </div>

                <!-- 4 line -->
                    <div class="row">

                            <!--Comment title-->
                            <div class="large-3 columns">
                                Comment title
                            </div>

                            <!--Comment-->
                            <div class="large-9 columns">
                                Comment: {{ task.create_comment }}
                            </div>

                    </div>

                <!-- 4 line -->
                    <div class="row">

                            <!--SubTasks-->
                            <div class="large-12 columns">
                                "Show SubTasks" button SubTask count
                            </div>

                    </div>

            </div>
</p>
{% endfor %}


{%if type == "main" %}
    <div class="small-3 large-centered columns">
    <ul class="pagination">
      {% if tasks.has_previous %}
        <li class="arrow"><a href="?page=1">1</a></li>
        <li class="arrow"><a href="?page={{ tasks.previous_page_number }}">&laquo;</a></li>
      {% endif %}
      <li>{% trans "Page" %} {{ tasks.number }} {% trans "in" %} {{ tasks.paginator.num_pages }}</li>
      {% if tasks.has_next %}
        <li class="arrow"><a href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
      {% endif %}
    </ul>
    </div>
{% endif %}

<br>