{% load i18n %}
{% load verbose_names %}

<table bordercolor="red" border="1" width="100%">
    <thead>
      <tr>
          <th>{% get_verbose_field_name task_obj "create_date" %}</th>
          <th>{% get_verbose_field_name task_obj "status" %}</th>
          <th>{% get_verbose_field_name task_obj "client" %}</th>
          <th>{% get_verbose_field_name task_obj "solves_user" %}</th>
          <th>{% get_verbose_field_name task_obj "user_solved" %}</th>
          <th>{% trans "Options" %}</th>
      </tr>
    </thead>
{% for task in tasks %}
    <tr>
        <!-- Task date -->
        <td>
            <div class="with_popup" data-title="{% trans "Number" %}: {{ task.id }}. {% trans "author" %}: {{ task.create_user.last_name }} {{ task.create_user.first_name }}">
                {{ task.create_date|date:'d M H:i' }}
            </div>
        </td>

        <!-- Status -->
        <td>
            {% if not task.is_removed %}
                <div class="crm_radio_btns">
                    <input type="radio" id="{{ type }}_radio0_{{ task.id }}" onchange='obj_switch_status( "task", {{ task.id }}, "NEW" )' name="{{ type }}_radio_{{ task.id }}" {% if task.status = "NEW" %} checked {% endif %}>
                        <label for="{{ type }}_radio0_{{ task.id }}">Новая</label>
                    <input type="radio" id="{{ type }}_radio1_{{ task.id }}" onchange='obj_switch_status( "task", {{ task.id }}, "PRG" )' name="{{ type }}_radio_{{ task.id }}" {% if task.status = "PRG" %} checked {% endif %}>
                        <label for="{{ type }}_radio1_{{ task.id }}">Работа</label>
                    <input type="radio" id="{{ type }}_radio2_{{ task.id }}" onchange='obj_switch_status( "task", {{ task.id }}, "SLD" )' name="{{ type }}_radio_{{ task.id }}" {% if task.status = "SLD" %} checked {% endif %}>
                        <label for="{{ type }}_radio2_{{ task.id }}">Закрыта</label>
                </div>
            {% else %}
                Удалена
            {% endif %}

        <!-- Client -->
        <td>
            <div class="with_popup" data-title="Контакт: {{ task.client.phone }}">
                {{ task.client.sname }}
            </div>
        </td>

        <!-- Who solving -->
        <td>
            {% if task.solves_user %}
                <div class="with_popup" data-title="{{ task.solves_user.last_name }} {{ task.solves_user.first_name }}">
                    {{ task.solves_user.last_name }} {{ task.solves_user.first_name|make_list|first }}.
                </div>
            {% endif %}
        </td>

        <!-- Who solving -->
        <td>
            {% if task.user_solved %}
                <div class="with_popup" data-title="{{ task.user_solved.last_name }} {{ task.user_solved.first_name }}">
                    {{ task.user_solved.last_name }} {{ task.user_solved.first_name|make_list|first }}.
                </div>
            {% endif %}
        </td>

        <!-- Options -->
        <td>
            <ul id="icons" class="ui-widget ui-helper-clearfix">
                {% if not task.is_removed %}
                    <li title="Удалить заявку" onclick="Tasks.remove({{ task.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-trash"></span></li>
                {% endif %}
                {% if task.is_removed %}
                    <li title="Восстановить заявку" onclick="Tasks.restore({{ task.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plusthick"></span></li>
                {% endif %}
                <li title="Править заявку" onclick="Tasks.edit({{ task.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-wrench"></span></li>
                <li title="Передать заявку" onclick="Tasks.({{ task.id }})" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-arrowthick-1-e"></span></li>
            </ul>
        </td>
    </tr>

    <!-- Comment string -->
    <tr  style="padding-bottom:50px;">
        <!-- Title of comment -->
        <td>
            Коментарий:
        </td>

        <!-- Comment -->
        <td colspan="5">
            {{ task.create_comment }}
        </td>

    </tr>
{% endfor %}
</table>

{%if type == "main" %}
    <div class="small-3 large-centered columns">
    <ul class="pagination">
      {% if tasks.has_previous %}
        <li class="arrow"><a href="?page={{ tasks.previous_page_number }}">&laquo;</a></li>
      {% endif %}
      <li>Страница {{ tasks.number }} из {{ tasks.paginator.num_pages }}</li>
      {% if tasks.has_next %}
        <li class="arrow"><a href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
      {% endif %}
    </ul>
    </div>
{% endif %}